html {
  height: 100%;
}

body {
  background-image: url('../images/space.png');
  background-size: cover;
  height: 100%;
  margin: 0;
  font-family: 'Helvetica'
}

h1 {
  font-size: 3em;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  width: 610px;
  left: calc(50% - 305px);
  z-index: 2;
}

h2 {
  font-size: 2em;
  color: #fff;
  width: 424px;
  left: calc(50% - 212px);
  top: 72%;
  position: absolute;
  text-transform: uppercase;
}

.odometer {
  color: #fff;
  font-size: 100px;
  width: 504px;
  left: calc(50% - 252px);
  top: 80%;
  position: absolute;
}

.image {
  animation: spin 4s linear infinite;
  position: absolute;
  left: calc(50% - 250px);
  top: 17%;
}

img {
  width: 500px;
}

@keyframes spin {
  100% { transform:rotate(360deg); }
}
