html {
  height: 100%;
}

body {
  background-image: url('../images/space.png');
  background-size: cover;
  height: 100%;
  margin: 0;
  font-family: 'Helvetica'
}

h1 {
  color: #fff;
  left: 25%;
  bottom: 25%;
  position: absolute;
  text-transform: uppercase;
}

.odometer {
  color: #fff;
  font-size: 100px;
  left: 25%;
  top: 75%;
  position: absolute;
}

.image {
  -webkit-animation: spin 4s linear infinite;
          animation: spin 4s linear infinite;
  position: absolute;
  left: 25%;
}

img {
  width: 500px;
}

@-webkit-keyframes spin {
  100% { -webkit-transform:rotate(360deg); transform:rotate(360deg); }
}

@keyframes spin {
  100% { transform:rotate(360deg); }
}
