@media screen and (max-width: 720px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 350px) {
  html {
    font-size: 10px;
  }
}

body {
  background-image: url('../images/space.png');
  background-size: cover;
  font-family: 'Helvetica';
}

h1 {
  font-size: 3rem;
  width: 100%;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.counter {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-bottom: 5rem;
}

h2 {
  font-size: 2rem;
  color: #fff;
  width: 100%;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.odometer {
  color: #fff;
  font-size: 5rem;
  width: 100%;
  text-align: center;
}

img {
  animation: spin 4s linear infinite;
  display: block;
  margin: auto;
  position: relative;
  width: 50%;
  max-width: 30rem;
  z-index: -1;
}

@keyframes spin {
  100% { transform:rotate(360deg); }
}
