.image {
  animation: spin 4s linear infinite;
  position: absolute;
  left: 25%;
}

img {
  width: 500px;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
